@font-face {
  font-family: 'Sky Text';
  src: url('/fonts/sky-regular.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Sky Text';
  src: url('/fonts/sky-medium.woff') format('woff');
  font-weight: bold;
  font-display: fallback;
}