html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  color: var(--text-color);
  background-color: var(--page-canvas);
  font-family: var(--branding-sky-text-font), sans-serif;
  font-size: var(--base-font-size);
  overflow-anchor: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

html a {
  color: var(--link-color);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}