:root {
  /* min and max width (px) for scaling values */
  --scaler-from: 420;
  --scaler-to: 980;
  --scaler: calc((100vw - (var(--scaler-from) * 1px)) / (var(--scaler-to) - var(--scaler-from)));
  /* raw size values */
  --s-5: 4;
  --s-10: 8;
  --s-20: 12;
  --s-25: 13;
  --s-50: 14;
  --s-100: 16;
  --s-200: 18;
  --s-300: 20;
  --s-400: 22;
  --s-500: 24;
  --s-600: 26;
  --s-700: 28;
  --s-800: 32;
  --s-900: 36;
  --s-1000: 40;
  --s-1100: 48;
  --s-1200: 68;
   /* spacing */
  --gap-0: 0;
  --gap-100: clamp(4px, calc(4px + (4 * var(--scaler))), 8px);
  --gap-200: clamp(8px, calc(8px + (4 * var(--scaler))), 12px);
  --gap-300: clamp(12px, calc(12px + (4 * var(--scaler))), 16px);
  --gap-400: clamp(18px, calc(18px + (6 * var(--scaler))), 24px);
  --gap-500: clamp(22px, calc(22px + (10 * var(--scaler))), 32px);
  --gap-600: clamp(28px, calc(28px + (12 * var(--scaler))), 40px);
  --gap-700: clamp(36px, calc(36px + (16 * var(--scaler))), 52px);
  --gap-800: clamp(48px, calc(48px + (24 * var(--scaler))), 72px);
  --gap-900: clamp(64px, calc(64px + (28 * var(--scaler))), 92px);
  /* font sizes */
  --base-font-size: 18px;
  --display-25: clamp(13px, calc(13px + (1 * var(--scaler))), 14px);
  --display-50: clamp(14px, calc(14px + (2 * var(--scaler))), 16px);
  --display-100: clamp(16px, calc(16px + (2 * var(--scaler))), 18px);
  --display-200: clamp(18px, calc(18px + (2 * var(--scaler))), 20px);
  --display-300: clamp(20px, calc(20px + (2 * var(--scaler))), 22px);
  --display-400: clamp(22px, calc(22px + (2 * var(--scaler))), 24px);
  --display-500: clamp(24px, calc(24px + (6 * var(--scaler))), 30px);
  --display-600: clamp(26px, calc(26px + (10 * var(--scaler))), 36px);
  --display-700: clamp(28px, calc(28px + (12 * var(--scaler))), 40px);
  --display-800: clamp(32px, calc(32px + (16 * var(--scaler))), 48px);
  --display-900: clamp(36px, calc(36px + (32 * var(--scaler))), 68px); 
  --display-fixed-25: 13px;
  --display-fixed-50: 14px;
  --display-fixed-100: 16px;
  --display-fixed-200: 18px;
  /* line heights */
  --line-height-50: 1.2;
  --line-height-100: 1.25;
  --line-height-200: 1.25;
  --line-height-300: 1.2;
  --line-height-400: 1.2;
  --line-height-500: 1.1;
  --line-height-600: 1.1;
  --line-height-700: 1.1;
  --line-height-800: 1.1;
  --line-height-900: 1;
  /* layout */
}