.button {
  --size: var(--display-200);
  --color: var(--text-color);
  --color-hover: var(--color);
  --weight: bold;
  --bg: var(--brand-primary);
  --bg-hover: var(--brand-primary);
  --border-width: 1px;
  --border-color: red;
  --border-color: var(--bg-hover);
  --border-radius: 5px;
  --padding: 0.5em 0.8em;
  --display: inline-flex;
  display: var(--display);
  gap: calc(var(--size) / 2);
  align-items: center;
  width: fit-content;
  appearance: none;
  font-size: var(--size);
  font-weight: var(--weight);
  line-height: 1;
  padding: var(--padding);
  background-color: var(--bg);
  color: var(--color);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:not([disabled]):hover {
  color: var(--color-hover);
  background-color: var(--bg-hover);
}

.button[disabled] {
  cursor: default;
  filter: saturate(0.7) brightness(1.3) contrast(0.6);
}

.button[data-size="small"] {
  --size: var(--display-100);
}

.button[data-size="large"] {
  --size: var(--display-300);
}

.button[data-lozenge] {
  --border-radius: 2em;
}