.flex-grid {
  --basis: 0%;
  --gap: var(--gap-500);
  --wrap: wrap;
  --grow: 1;
  --collapse: 0;
  --align: flex-start;
  --justify: flex-start;
  --align-children: stretch;
  display: flex;
  flex-wrap: var(--wrap);
  align-content: var(--align);
  justify-content: var(--justify);
  gap: var(--gap);
}

.flex-grid>* {
  flex-grow: var(--grow);
  flex-shrink: 1;
  flex-basis: calc(var(--basis) - var(--gap));
  min-width: clamp(var(--min-width, 0px), (var(--collapse) - 100%) * 999, 100% - var(--gap));
  display: grid;
  align-items: var(--align-children);
}

.flex-grid>*:only-child {
  flex-basis: var(--basis);
}

/* HACK FOR < IOS/SAFARI 14.5, which doesnt support the gap property in flexbox */
@supports not ((display: full-size-kana) or (translate: 10px) or (content-visibility: auto)) {
  .flex-grid>* {
    margin: calc(var(--gap, 1em) / 2);
  }
}

.grid {
  --basis: auto;
  --gap: var(--gap-500);
  --flow: none;
  display: grid;
  align-items: stretch;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(var(--basis), 1fr));
  grid-auto-flow: var(--flow);
}

.grid>* {
  max-width: 100%;
}