.gap-0 { --gap: 0; }
.gap-100 { --gap: var(--gap-100); --collapse: var(--gap-100) }
.gap-200 { --gap: var(--gap-200); --collapse: var(--gap-200) }
.gap-300 { --gap: var(--gap-300); --collapse: var(--gap-300) }
.gap-400 { --gap: var(--gap-400); --collapse: var(--gap-400) }
.gap-500 { --gap: var(--gap-500); --collapse: var(--gap-500) }
.gap-600 { --gap: var(--gap-600); --collapse: var(--gap-600) }
.gap-700 { --gap: var(--gap-700); --collapse: var(--gap-700) }
.gap-800 { --gap: var(--gap-800); --collapse: var(--gap-800) }
.gap-900 { --gap: var(--gap-900); --collapse: var(--gap-900) }
.gap-any { 
  /* pass any (unitless) to and from value for arbitrary gap scaling */
  --gap-from-px: calc(var(--gap-from) * 1px);
  --gap-to-px: calc(var(--gap-to) * 1px);
  --gap-diff: calc(var(--gap-to) - var(--gap-from));
  gap: var(--gap-200);
  gap: clamp(var(--gap-from-px), calc(var(--gap-from-px) + calc(var(--gap-diff) * var(--scaler))), var(--gap-to-px));
}

.collapse-top {
  --collapse: inherit !important;
  margin-top: calc(var(--collapse) * -1);
}

.collapse-bottom {
  --collapse: inherit !important;
  margin-bottom: calc(var(--collapse) * -1);
}