/* auto wrapping flexible grids for 2 column uneven layouts */
.ui-grid-flex {
  --basis: 0;
  --gap: var(--gap-500);
  --wrap: wrap;
  --grow: 1;
  --collapse: 0;
  --align: flex-start;
  --justify: flex-start;
  --align-children: stretch;
  display: flex;
  flex-wrap: var(--wrap);
  align-items: var(--align);
  justify-content: var(--justify);
  justify-items: var(--justify);
  gap: var(--gap);
}

.ui-grid-flex>* {
  flex-grow: var(--grow);
  flex-shrink: 1;
  flex-basis: calc(var(--basis));
  min-width: clamp(var(--min-width, 0px), calc((var(--collapse) - 100%) * 999), calc(100% - var(--gap)));
  display: grid;
  align-items: var(--align-children);
}

.ui-grid-flex>*:only-child {
  flex-basis: var(--basis);
}

/* HACK FOR < IOS/SAFARI 14.5, which doesnt support the gap property in flexbox */
@supports not ((display: full-size-kana) or (translate: 10px) or (content-visibility: auto)) {
  .ui-grid-flex>* {
    margin: calc(var(--gap, 1em) / 2);
  }
}

/* even width grid columns that auto wrap */
.ui-grid-auto {
  --basis: auto;
  --gap: var(--gap-400);
  --flow: none;
  --align: stretch;
  --rows: auto;
  display: grid;
  align-items: var(--align);
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--basis), 1fr));
  grid-template-rows: auto;
  grid-auto-flow: var(--flow);
  height: 100%;
}

.ui-grid-auto>.ui-grid-cell {
  max-width: 100%;
}

.ui-grid-auto>.ui-grid-divider[class] {
  grid-column: auto;
}

/* complex grid layouts with multiple columns and specified break points */
.ui-grid-fixed,
.ui-grid-areas {
  --gap: var(--gap-400);
  --cols: repeat(12, 1fr 1px);
  --divider-color: var(--border-color);
  --divider-width: 1px;
  --divider-height: auto;
  --cell1: 1/7;
  --cell2: 7/13;
  --cell3: 13/19;
  --cell4: 19/25;
  display: grid;
  grid-template-columns: var(--cols);
  grid-template-rows: auto;
  grid-template-areas: var(--areas);
  gap: var(--gap);
}

.ui-grid-cell {
  container-type: inline-size;
}

.ui-grid-fixed>.ui-grid-cell:nth-of-type(1) {
  grid-column: var(--cell1);
}

.ui-grid-fixed>.ui-grid-cell:nth-of-type(2) {
  grid-column: var(--cell2);
}

.ui-grid-fixed>.ui-grid-cell:nth-of-type(3) {
  grid-column: var(--cell3);
}

.ui-grid-fixed>.ui-grid-cell:nth-of-type(4) {
  grid-column: var(--cell4);
}

.ui-grid-divider {
  background: var(--divider-color);
  height: var(--divider-height);
  width: var(--divider-width);
}

.ui-grid-divider:nth-of-type(1) {
  grid-column: var(--div1);
}

.ui-grid-divider:nth-of-type(2) {
  grid-column: var(--div2);
}

/* complex layouts using grid areas and fixed breakpoints */
/* add ui-grid-areas if you want to enable grid areas option */
.ui-grid-areas[class] {
  --cell1: cell1;
  --cell2: cell2;
  --cell3: cell3;
  --cell4: cell4;
  --areas: "cell1 cell2 cell3 cell4";
}

.ui-grid-areas>.ui-grid-cell:nth-of-type(1) {
  grid-area: var(--cell1);
}

.ui-grid-areas>.ui-grid-cell:nth-of-type(2) {
  grid-area: var(--cell2);
}

.ui-grid-areas>.ui-grid-cell:nth-of-type(3) {
  grid-area: var(--cell3);
}

.ui-grid-areas>.ui-grid-cell:nth-of-type(4) {
  grid-area: var(--cell4);
}

@media all and (max-width: 767px) {
  .ui-grid-areas {
    grid-template-areas: var(--areas-m, var(--areas));
  }
}

@media all and (max-width: 480px) {
  .ui-grid-areas {
    grid-template-areas: var(--areas-s, var(--areas-m, var(--areas)));
  }
}

@media all and (max-width: 360px) {
  .ui-grid-areas {
    grid-template-areas: var(--areas-xs, var(--areas-s, var(--areas-m, var(--areas))));
  }
}
