.display-50 { 
  font-size: var(--display-50); 
  line-height: var(--line-height-50) 
}

.display-100 { 
  font-size: var(--display-100);
  line-height: var(--line-height-100)
}

.display-200 { 
  font-size: var(--display-200);
  line-height: var(--line-height-200)
}

.display-300 { 
  font-size: var(--display-300);
  line-height: var(--line-height-300)
}

.display-400 { 
  font-size: var(--display-400);
  line-height: var(--line-height-400)
}

.display-500 { 
  font-size: var(--display-500);
  line-height: var(--line-height-500)
}

.display-600 { 
  font-size: var(--display-600);
  line-height: var(--line-height-600)
}

.display-700 { 
  font-size: var(--display-700);
  line-height: var(--line-height-700)
}

.display-800 { 
  font-size: var(--display-800);
  line-height: var(--line-height-800)
}

.display-900 { 
  font-size: var(--display-900);
  line-height: var(--line-height-900)
}

.display-fixed-25 {
  font-size: var(--display-fixed-25);
}

.display-fixed-50 {
  font-size: var(--display-fixed-50);
}

.display-fixed-100 {
  font-size: var(--display-fixed-100);
}

.display-any { 
  /* pass any (unitless) to and from value for arbitrary font scaling
    eg scale from 16 - 24px, use: 
    --size-from: 16; 
    --size-to: 24 
  */
  --size-from-px: calc(var(--size-from) * 1px);
  --size-to-px: calc(var(--size-to) * 1px);
  --size-diff: calc(var(--size-to) - var(--size-from));
  font-size: clamp(var(--size-from-px), calc(var(--size-from-px) + (var(--size-diff) * var(--scaler))), var(--size-to-px));
}