.ui-wrap {
  --gap: var(--gap-600);
  --width: 100%;
  --align: start;
  --rows: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: var(--rows);
  align-content: var(--align);
  width: 100%;
  max-width: var(--width);
  gap: var(--gap);
  margin-left: auto;
  margin-right: auto;
}

.ui-wrap-site-width {
  --width: var(--site-width);
}

.ui-wrap-gutter {
  --gutter: var(--site-gutter);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

/* @NOTE - sass does not like this */
/* .ui-wrap-gutter-collapse {
  --gutter-collapse: var(--site-width-s);
  position: relative;
  margin-left: max(calc(var(--gutter) * -1), min(0px, calc((100vw - var(--gutter-collapse)) * 9999)));
  margin-right: max(calc(var(--gutter) * -1), min(0px, calc((100vw - var(--gutter-collapse)) * 9999)));
} */

.ui-wrap-full-width {
  min-width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}