.story {
  --gap-block: 19px;
  --gap-inline: 14px;
  --columns: 1fr;
  --aspect-ratio: 16/9;
  --size: clamp(16px, 7cqw, 20px);
  --align-body: center;
  container-type: inline-size;
  display: grid;
  align-items: start;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.story-wrap[data-pattern*="hero"] {
  --size: clamp(16px, 8cqw, 28px);
}

.story-wrap {
  display: grid;
  gap: var(--gap-block) var(--gap-inline);
  grid-template-columns: var(--columns);
}

.story-media {
  display: grid;
  align-content: center;
}

.story-media img {
  display: block;
  width: 100%;
  aspect-ratio: var(--aspect-ratio);
  border-radius: 5px;
  object-fit: cover;
}

.story-body {
  display: grid;
  align-content: center;
  container-type: inline-size;
  gap: calc(var(--gap-inline) / 2);
}

.story-headline {
  font-size: var(--size);
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.story-headline a {
  color: inherit;
}

.story-headline a:after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  padding-top: 200%;
  z-index: 0;
}

@media (hover:hover) {
  .story-headline a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 2px;
  }
}

.story-wrap[data-pattern="row"] {
  --columns: 33.333% 1fr;
  --aspect-ratio: 1/1;
}

@container (min-width: 300px) and (max-width: 400px) {
  .story[data-pattern="col-to-row"] .story-wrap {
    --columns: 33.333% 1fr;
    --aspect-ratio: 1/1;
  }
}

.story-meta {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.story-tag,
.story-label {
  font-size: 13px;
  font-weight: bold;
  padding: 2px 4px;
  text-decoration: none;
}

.story-tag {
  text-transform: uppercase;
  background: #ffcc00;
  color: black;
}

.story-label {
  padding: 2px 1px;
}

.story-links {
  position: relative;
  z-index: 1;
  padding: var(--gap-inline) 0;
}

.story-links:empty {
  display: none;
}

.list {
  display: grid;
  gap: 0.5em;
  line-height: 1.1;
}

@media (hover:hover) {
  .list a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 2px;
  }
}